.container {
  /* width: 85%; */
  margin: auto;
  margin-top: -75px;
  margin-bottom: 100px;
}

.ul {
  list-style: none;
  padding-left: 0;
  margin: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* overflow-x: hidden; */
  width: 94.7%;
}

.itemsContainer {
  /* transform: translateX(100%);
  animation: moveticker 186s linear infinite; */
  /* border: 1px white solid;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 1px white solid;
  border-radius: 6px;
  padding: 15px; */
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}

/* @keyframes moveticker {
  0% {
    transform: translateX(0px);
  }

  100% {
    transform: translateX(-17875px);
  }

  0% {
    transform: translateX(0px);
  }
} */
