.container {
  width: 500px;
  height: auto;
  /* background-color: blanchedalmond; */
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 100px;
  border-radius: 10px;
  color: white;
  border: 2px white solid;
  font-size: 20px;
}



.form {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}


.area {
  height: 100px;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.input {
  width: 250px;
  height: 24px;
}

.btn {
  /* width: 120px;
  height: 28px; */
  border-radius: 8px;
  margin: auto;
  padding: 5px 34px;
  font-size: 16px;
}

.btn:hover {
  cursor: pointer;
  background-color: lightblue;
  /* transform: scale(1.1); */
  transition: 0.3s;
}

.p {
  color: red;
  /* height: 10px; */
  font-size: 14px;
  margin-top: 0px;
  width: 255px;
  text-align: center;
}

