

.container {
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 560px;
  /* height: auto; */
  background-color: #131212;
  border: 3px solid black;
  border-radius: 10px;
  box-shadow: 24;
  
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
}

.smallContainer {
  width: 80%;
  height: 400px;
  border: 1px solid gray;
  border-radius: 14px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow-y: scroll;
}

.smallContainer:hover {
  cursor: pointer;
}